* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial/ArialMT.woff2") format("woff2"), url("../assets/fonts/Arial/ArialMT.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Georgia";
  src: url("../assets/fonts/Georgia/Georgia.woff2") format("woff2"), url("../assets/fonts/Georgia/Georgia.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 1280px / 2);
  padding-right: calc(50% - 1280px / 2);
}

body {
  font-family: "Georgia", Serif;
}

a {
  text-decoration: none;
}

.bg-wrapper {
  background: url(../assets/images/top-background.jpg) no-repeat bottom center/cover;
  height: 908px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 40px;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo .logo_title {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #f1ccb1;
  letter-spacing: 0.06em;
}

.header .logo .logo_subtitle {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  padding-top: 10px;
  letter-spacing: 0.1em;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

.nav-menu .nav-menu__link_active {
  border-bottom: 3px solid #f1ccb1;
  color: #fafafa;
}

.nav-menu .nav-menu__link {
  color: #cdcdcd;
  border-bottom: 3px solid rgba(241, 204, 177, 0);
}

.nav-menu .nav-menu__link:hover {
  color: #fafafa;
}

.nav-menu .nav-menu__link:active {
  border-bottom: 3px solid #f1ccb1;
  color: #fafafa;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
  padding: 0px 40px 0px;
}

.banner .banner__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
  padding-top: 163px;
}

.banner .banner__txt .banner_heading {
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}

.banner .banner__txt .banner_subheading {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}

.banner .banner__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 45px;
  background: #f1ccb1;
  border-radius: 100px;
  border-color: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn:hover {
  background: #fddcc4;
  cursor: pointer;
}

.btn-banner {
  width: 208px;
  height: 52px;
}

.about {
  height: 588px;
  background: #ffffff;
}

.about .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
  padding: 80px 40px 100px;
}

.about .about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 430px;
  height: 380px;
}

.about .about__info .about__info_txt {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4c4c4c;
}

.block_header {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets {
  height: 877px;
  background: #f6f6f6;
}

.pets .pets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 80px 40px 100px;
}

.btn-arrow {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 19px;
  border: 2px solid #f1ccb1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.btn-arrow:hover {
  background: #fddcc4;
  cursor: pointer;
  border: 2px solid #fddcc4;
}

.btn-pets {
  width: 262px;
  height: 52px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

.pet-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  width: 270px;
  height: 435px;
  background: #fafafa;
  border-radius: 9px;
}

.pet-item:hover {
  background: #ffffff;
  border-radius: 9px;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.pet-item:hover .btn-pet {
  background: #fddcc4;
  border: 2px solid #fddcc4;
}

.pet-item .pet-item__name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.pet-item .btn-pet {
  width: 192px;
  height: 52px;
  border: 2px solid #f1ccb1;
  background: #fafafa;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.help {
  height: 611px;
  background: #ffffff;
}

.help .help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 80px 40px 100px;
}

.help .help-list {
  height: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 55px 120px;
}

.help-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.help-list__item .list-icon {
  width: 60px;
  height: 60px;
}

.help-list__item .list-header {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 30px;
}

.donation {
  background: #f6f6f6;
  min-height: 462px;
}

.donation .donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 40px 100px;
}

.donation .donation_img {
  width: 505px;
  height: 261px;
}

.donation .donation__info {
  width: 380px;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.donation .donation__subheading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.credit-card-link {
  width: 349px;
  height: 43px;
  background: #f1ccb1;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.credit-card-link:hover {
  background: #fddcc4;
  cursor: pointer;
}

.credit-card-link .credit-icon {
  width: 30px;
  height: 23px;
}

.credit-card-link .credit-number {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.legal-info {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.footer {
  min-height: 350px;
  background: url(../assets/images/footer-background.jpg) no-repeat bottom center/cover;
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 40px 0;
}

.footer .footer__contacts {
  min-width: 279px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 160px;
}

.footer .row-padding {
  margin: 45px 0 44px;
}

.footer .footer__location {
  min-width: 302px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 160px;
}

.footer .row-padding-2 {
  margin: 32px 0 32px;
}

.footer .footer_heading {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 16px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.mail-icon {
  width: 40px;
  height: 32px;
}

.phone-icon {
  width: 40px;
  height: 32px;
}

.location-icon {
  width: 22px;
  height: 32px;
}

.footer-info {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1ccb1;
}

/* ---------------------------------------------------
    PETS PAGE
----------------------------------------------------- */
.header-wrapper {
  height: 120px;
  background: #ffffff;
}

.header-wrapper .header_pets {
  padding: 30px 40px;
}

.header-wrapper .logo_title-pets {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #545454;
  letter-spacing: 0.06em;
}

.header-wrapper .logo_subtitle-pets {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #292929;
  padding-top: 10px;
  letter-spacing: 0.1em;
}

.header-wrapper .nav-menu__link_active_pets {
  color: #545454;
  border-bottom: 3px solid #f1ccb1;
}

.header-wrapper .nav-menu__link_pets {
  color: #545454;
  border-bottom: 3px solid rgba(241, 204, 177, 0);
}

.header-wrapper .nav-menu__link_pets:hover {
  color: #292929;
}

.header-wrapper .nav-menu__link_pets:active {
  border-bottom: 3px solid #f1ccb1;
}

.pets_block {
  background: #f6f6f6;
}

.pets_block .pets_block__content {
  padding: 80px 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 60px;
}

.pets_block .cards_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  gap: 30px 40px;
}

.pagination-box {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.pagination-box .page-link {
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-box .page-disabled {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
  pointer-events: none;
}

.pagination-box .page-active {
  color: #292929;
  background: #f1ccb1;
  border-radius: 100px;
}

.pagination-box .page-active:hover {
  background: #fddcc4;
  cursor: pointer;
}

.pagination-box .page-next {
  color: #292929;
  border: 2px solid #f1ccb1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
}

.pagination-box .page-next:hover {
  background: #fddcc4;
  cursor: pointer;
  border: 2px solid #fddcc4;
}
/*# sourceMappingURL=style.css.map */